#git-satisfaction-modal {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

#git-satisfaction-modal div {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

#git-satisfaction-modal-background {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 1000;
}

#git-satisfaction-modal-body {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  background-color: #ffffff;
  z-index: 2000;
  -webkit-box-shadow: 0px 0px 10px 0px #555;
  box-shadow: 0px 5px 10px 0px #555;
}

#git-satisfaction-left-pane,
#git-satisfaction-right-pane {
  height: 100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

#git-satisfaction-left-pane {
  float: left;
  width: 34%;
  border-right: 1px solid #E6E6E6;
  overflow: auto;
  position: relative;
}

#git-satisfaction-right-pane {
  float: right;
  width: 66%;
  overflow: auto;
}

#git-satisfaction-issue-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#git-satisfaction-issue-list > li {
  border-bottom: 1px solid #E6E6E6;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding: 1em;
}

#git-satisfaction-issue-list > li.git-satisfaction-issue-li-selected,
#git-satisfaction-issue-list > li:hover {
  cursor: pointer;
  background-color: #E6E6E6;
}

#git-satisfaction-submit-form {
  padding: 1em;
}

#git-satisfaction-submit-form > textarea,
#git-satisfaction-submit-form > input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 0.5em;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;  
  border: 1px solid #A0A0A0;
  margin: 0;
  margin-top: 1em;
}

#git-satisfaction-submit-form > textarea#git-satisfaction-form-body {
  height: 10em;
  resize: vertical;
  margin-bottom: 1em;
}

#git-satisfaction-form-submit {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0.5em;
  margin: 0;
}

#git-satisfaction-pane-heading {
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em;
}

#git-satisfaction-enlarged-issue > p {
  font-size: 14px;
  line-height: 20px;
  margin: 1em;
}

#git-satisfaction-enlarged-issue > p.git-satisfaction-issue-title {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 1em;
}
